node_modules/
dist/
build/
coverage/
.turbo/
*.log
.DS_Store

# deploy / build tooling
.vercel/
apps/web/dev-dist/

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/*.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/
